{% extends "home/base.html" %}
{% load static %}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="titulo">PRESTAMOS</h3>
        <div class="enlace text-end"><a href="{% url 'register_loan' %}">Register_Prestamo</a></div>
        <div class="box_table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="fw-bold">CLIENTE</th>
                        <th class="fw-bold">MONTO</th>
                        <th class="fw-bold">TASA_INTERES</th>
                        <th class="fw-bold">INTERES</th>
                        <th class="fw-bold">FECHA_INICIO</th>
                        <th class="fw-bold">PLAZO</th>
                        <th class="fw-bold">_____</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prestamos %}
                    <tr class="">
                        <td class="">{{ p.cliente }}</td>
                        <td>{{ p.monto }}</td>
                        <td>{{ p.tasa_interes }} % </td>
                        <td>{{ p.interes }}</td>
                        <td>{{ p.fecha_inicio }}</td>
                        <td>{{ p.plazo }}</td>
                        <td><a href="{% url 'register_pay_with_id' p.id %}">Pay</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}