{% extends "home/base.html" %}

{% block content %}
    <div class="container">
        <div class="text-center"><span class="fw-bold">PRESTAMOS</span></div>
        <div class="text-end"><a href="{% url 'register_loan' %}">Register_Prestamo</a></div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="fw-bold">CLIENTE</th>
                        <th class="fw-bold">MONTO</th>
                        <th class="fw-bold">TASA_INTERES</th>
                        <th class="fw-bold">INTERES</th>
                        <th class="fw-bold">FECHA_INICIO</th>
                        <th class="fw-bold">PLAZO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prestamos %}
                    <tr class="">
                        <td class="">{{ p.cliente }}</td>
                        <td>{{ p.monto }}</td>
                        <td>{{ p.tasa_interes }}</td>
                        <td>{{ p.interes }}</td>
                        <td>{{ p.fecha_inicio }}</td>
                        <td>{{ p.plazo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}