{% extends "home/base.html" %}
{% load static %}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-end">
            <a href="{% url 'logout' %}">Cerrar_session</a>
            <a href="{% url 'admin:index' %}">Admin</a>
        </div>
        <div class="text-center"><h1>SISTEMA DE PRESTAMOS</h1></div>
        <div class="banner row">
            <div class="p_col col-8">
                <div class="box_caja">
                    <div>
                        <a href="{% url 'caja' %}">CAJA -> <span>ir a caja</span></a>
                    </div>
                    <div>
                        {% if total_caja %}
                            <div class=""> {{ total_caja.monto_disponible }} Bs</div>
                        {% else %}
                            <div class=""> 0.00 </div>
                        {% endif %}
                    </div>
                </div>
                <div class="box_interes row">
                    <div class="col">
                        <div class="titulo">
                            INTERES_TOTAL
                        </div>
                        <div>
                            {% if interes %}
                                <div class=""> {{ interes.interes_total }} Bs</div>
                            {% else %}
                                <div class=""> 0.00 </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="titulo">
                            INTERES_PAGADO
                        </div>
                        <div>
                            {% if interes %}
                                <div class=""> {{ interes.interes_pagado }} Bs</div>
                            {% else %}
                                <div class=""> 0.00 </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="box_total">
                    <div class="titulo">
                        TOTAL
                    </div>
                    <div>
                        {{ suma_total }} Bs
                    </div>
                </div>
            </div>
            <div class="s_col col-4">
                <div class="box">
                    <div><a href="{% url 'clients' %}">CLIENTES</a></div>
                    <div><a href="{% url 'loans' %}">PRESTAMOS</a></div>
                    <div><a href="{% url 'payments' %}">PAGOS</a></div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
