{% extends "home/base.html" %}
{% load static %}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="titulo">PAGOS</h3>
        <div class="enlace text-end"><a href="{% url 'register_pay' %}">Register_Pay</a></div>
        <div class="box_table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="fw-bold">PRESTAMO</th>
                        <th class="fw-bold">MONTO_PAGO</th>
                        <th class="fw-bold">PAGO_INTERES</th>
                        <th class="fw-bold">FECHA_PAGO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pagos %}
                    <tr class="">
                        <td class="">{{ p.prestamo }}</td>
                        <td>{{ p.monto_pago }}</td>
                        <td>{{ p.pagar_interes }}</td>
                        <td>{{ p.fecha_pago }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}