{% extends "home/base.html" %}
{% load static %}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="titulo">CLIENTES</h3>
        <div class="enlace text-end"><a href="{% url 'register_clients' %}">Register_Clients</a></div>
        <div class="box_table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="fw-bold">NOMBRE</th>
                        <th class="fw-bold">TELEFONO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clients %}
                    <tr class="">
                        <td class="">{{ cliente.nombre }}</td>
                        <td>{{ cliente.telefono }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}