{% extends "home/base.html" %}
{% load static %}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="titulo">CAJA MOVIMIENTOS</h3>
        <div class="cont">
            <div class="text-end">
                {% if total_caja %}
                    <div class="">Total:  {{ total_caja.monto_disponible }} Bs</div>
                {% else %}
                    <div class="">Total:  0.00 Bs</div>
                {% endif %}
            </div>
            <div class="enlace text-end"><a href="{% url 'agregar_dinero_caja' %}">AGREGAR DINERO EN CAJA</a></div>
        </div>
        <div class="box_table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="fw-bold">NOMBRE</th>
                        <th class="fw-bold">MONTO</th>
                        <th class="fw-bold">FECHA</th>
                        <th class="fw-bold">TIPO DE MOVIMIENTO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in movimiento %}
                    <tr class="">
                        <td class="">{{ m.nombre }}</td>
                        <td>{{ m.monto }}</td>
                        <td>{{ m.fecha }}</td>
                        <td>{{ m.tipo_movimiento }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}