{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="form">
            <h2>Login</h2>
            <form method="post">
                <div class="inputBox">
                    <input type="text" name="username" maxlength="150" required aria-describedby="id_username_helptext" id="id_username">
                    <span>Username</span>
                    <i></i>
                </div>

                <div class="inputBox">
                    <input type="email" name="email" maxlength="254" id="id_email">
                    <span>Email</span>
                    <i></i>
                </div>

                <div class="inputBox">
                    <input type="password" name="password" required id="id_password">
                    <span>{{form.password.label}}</span>
                    <i></i>
                </div>

                <div class="inputBox">
                    <input type="password" name="password2" required id="id_password2">
                    <span>{{form.password2.label}}</span>
                    <i></i>
                </div>
                
                <div class="submitBox">
                    <input type="submit" value="Submit">
                </div>

                <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
                <p>¿Ya tienes cuenta? <a href="/">Iniciar sesión</a></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
</body>
</html>
